
<div class="card shadow mx-auto ">
    <form class="form card-body" [formGroup]="inputForm">
      <mat-icon>perm_identity</mat-icon><br>
      <h2 class="card-title" (ngSubmit)="onSubmit()" novalidate>REGISTER</h2>
      <div class="form-group">
        <label>Username</label><br>
        <input id="userName" type="email" class="form-control" formControlName="username" required/>
        <mat-error *ngIf="inputForm.controls.username?.invalid && (inputForm.controls.username?.dirty || inputForm.controls.username?.touched)"
              class="alert">{{getError()}}</mat-error>
              <br>
      </div>
      <div class="form-group">
        <label>Password</label><br>
        <input type="password" class="form-control" name="password" [(ngModel)]="userData.password" formControlName="password" required><br>
      </div>
      <div class="form-group">
        <label>Confirm Password</label><br>
       <input type="password" class="form-control" name="password_confirm" [(ngModel)]="userData.password_confirm"  formControlName="password_confirm" required><br>
      </div>
       <div *ngIf="inputForm.get('password_confirm')?.hasError('notSame')">Password Doesn't match !</div><br>

      <button mat-raised-button color="primary" routerLink="/videos" type="submit" [disabled]="inputForm.invalid">Register</button>
    </form>

  </div>
<router-outlet></router-outlet>
