<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/videos" title="videos" routerLinkActive="active">
      <mat-icon>video_library</mat-icon>
    </button>
    <button mat-icon-button routerLink="/music" title="musics" routerLinkActive="active">
      <mat-icon>library_music</mat-icon>
    </button>
    <button mat-icon-button routerLink="/favourites" title="favourites" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/signin" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        <span>Sign Up</span>
      </button>
      <button mat-menu-item  routerLink="/login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <!-- *ngIf="isLoggedIn$ | async as isLoggedIn"  -->
      <button mat-menu-item  routerLink="/login" (click)="onLogout()" *ngIf="isLoggedIn | async as isLoggedIn" routerLinkActive="active" ng-click="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>

