<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="signin" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Sign Up</span>
      </button>
      <button mat-menu-item  routerLink="login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item  routerLink="logout" routerLinkActive="active">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
