<div class="container mx-auto">
  <div class="row mx-auto">
    <div class="col-sm-12">
      <h2><b>ENTERTAINMENT APP</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button type="button" routerLink="/signup" class="btn btn-outline-primary shadow" color="primary">Sign Up</button>
    </div>
    <div class="col-sm-6">
      <button type="button" routerLink="/login" class="btn btn-outline-primary shadow" color="primary">Log In</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
