<div class="container mx-auto">
  <h1> Trending Musics </h1>
  <div class="row">
    <div class="col" *ngFor="let item of musics" loading="lazy">
      <div class="card shadow" loading="lazy" title="{{ item.Title }}">
          <p class="title"> {{ item.Title }}</p>
          <p class="date"> {{ item.created_on }}</p>
          <video class="card-img" controls poster="{{ item.Thumbnail }}"
            src="{{ item.Media_link }}" type="audio/webm" loading="lazy" autopictureinpicture="true" preload="none">
          </video>
          <div class="d-flex flex-row">
            <div class="p-2">
              <mat-icon class="like" (click)="removeFavourite(item.Media_id)" *ngIf="isfavourite(item.Media_id)">favorite</mat-icon>
              <mat-icon (click)="setFavourite(item.Media_id)" *ngIf="!isfavourite(item.Media_id)">favorite_border</mat-icon>
              <p class="mx-auto">{{ item.popularity}} likes</p>
            </div>
            <div class="p-2">
              <a href="https://www.facebook.com/sharer/sharer.php?href='{{item.Title}},{{item.Thumbnail}}'" target="_blank">
                <span class="material-icons">share</span>
                <p class="mx-auto">share</p>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
