<div class="container">
  <h1> Trending Videos </h1>
  <div class="row">
    <div class="col" *ngFor="let item of videos" loading="lazy">
      <div class="card shadow" loading="lazy">
          <p class="title">{{ item.title }}</p>
          <p class="date">{{ item.Date }}</p>
          <video class="card-img" controls poster="{{ item.thumbnailSrc }}"
            src="{{ item.mediaSrc }}" type="video/mp4" loading="lazy" autopictureinpicture="true" preload="none">
          </video>
          <p>
            <mat-icon class="like" (click)="removeFavourite(item.id)" *ngIf="isfavourite(item.id)">favorite</mat-icon>
            <mat-icon (click)="setFavourite(item.id)" *ngIf="!isfavourite(item.id)">favorite_border</mat-icon>
            <a href="https://www.facebook.com/sharer/sharer.php?href='{{item.title}},{{item.thumbnailSrc}}'" target="_blank">
              <span class="material-icons">share</span>
            </a>
          </p>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ta_IN/sdk.js#xfbml=1&version=v11.0" nonce="HqCjvkL2"></script>
