@media screen and (min-width:600px){
  .container{
  width: 75%;
  margin: 180px;
  margin-top: 10px;
}
h1{
  margin-left: -40px;
}
.card{
  transition:all 0.2s;
}
.card:hover{
  margin-top: -3px;
  transition:all 0.15s;
}
}
@media screen and (max-width:400px){
  .row{
    margin-left: 20px;
  }
}
h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.card{
 height: 240px;
 width: 270px;
}
p{
  margin-bottom: 5px;
  margin-left: 10px;
}
span{
  color: black;
  padding: 8px;
}
mat-icon{
  cursor: pointer;
}
.card-img{
  border-radius: 0%;
  width: 269px;
  height: 140px;
  object-fit:cover;
}
.like{
  color: red;
}
.row{
  margin-bottom: 10px;
}
.col{
  padding: 10px;
}
.title{
  font-size: 15px;
  margin-top: 5px;
}
.date{font-size: 10px;}

