
<div class="container">
  <h1> Trending Videos </h1>

  <div class="row">
    <div class="col" *ngFor="let item of videos">
      <div class="card shadow">
          <p class="title">{{ item.title }}</p>
          <p class="date">Date</p>
          <img class="card-img" src="{{ item.thumbnailSrc }}" alt="thumbnail">
          <!-- <div class="dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Description</div>
           <div class="dropdown-menu" aria-labelledby="defaultDropdown">
             <p class="dropdown-item">Description goes here.</p>
           </div> -->
          <p>
            <mat-icon class="like" (click)="removeFavourite(item.id)" *ngIf="isfavourite(item.id)">favorite</mat-icon>
            <mat-icon (click)="setFavourite(item.id)" *ngIf="!isfavourite(item.id)">favorite_border</mat-icon>
            <a href="https://www.facebook.com/sharer/sharer.php?href='{{item.title}},{{item.thumbnailSrc}}'" target="_blank">
              <span class="material-icons">share</span>
            </a>
          </p>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="10"
[pageSize]="20" [pageSizeOptions]="[5,10, 25, 100]"></mat-paginator>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ta_IN/sdk.js#xfbml=1&version=v11.0" nonce="HqCjvkL2"></script>

